/* body{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    } */

/* styles.css */
.waveText{
    font-size: 40px;
    text-align: center;
    display: inline-block;
  }
  
.waveText span {
    display: inline-block;
    transition: transform 0.2s;
  }
  
.waveText:hover span {
    animation: wave 0.5s infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  
  @keyframes wave {
    0%, 60%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
  }
  
  